<div class="flex justify-center bg-transparent">
    <p class="text-white text-opacity-50 text-xl sm:text-3xl xl:text-6xl my-96 z-10 smooth-arrival">
        Here start our story together
    </p>
   
</div>
<div class="flex justify-center bg-transparent">
    <p id="text-2" class="text-white text-opacity-50 text-xl sm:text-3xl xl:text-6xl my-96 z-10 text-scroll-arrival">
        A long journey ahead of us ...
    </p>
</div>

<div class="flex justify-center bg-transparent">
    <p class="text-white text-opacity-50 text-xl sm:text-3xl xl:text-6xl my-96 z-10 text-scroll-arrival2">
        Now you realize what you are missing ...
    </p>
</div>

<div class="flex justify-center bg-transparent">
    <p class="text-white text-opacity-50 text-xl sm:text-3xl xl:text-6xl my-96 z-10 text-scroll-arrival3">
       A dev like me !
    </p>
</div>